*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
    
.upper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 100vh;
    background-color: blueviolet;
}
.lower{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 500px;
    border: solid black 3px;
    border-radius: 5px;
    background-color: white;
    font-size: 20px;
}
button{
    width: 350px;
    height: 75px;
    border-radius: 5px;
    font-size: 25px;
    background-color: yellow;
}
button:hover{
    cursor: pointer;
    background-color: rgb(255, 45, 45)  
}